---
import navLogo from "/Babar_05.svg";
import menuIcon from "/menu.png";
import drinksIcon from "/wine.png";
import takeoutIcon from "/takeout.png";
import calendarIcon from "/calendar.png";

import "@fontsource/alatsi";
---

<div id="mobile-navbar">
  <a class="button" href="/Menu">
    <p>MANGER</p>
    <img class="icon" src={menuIcon} />
  </a>
  <a class="button" href="/Drinks">
    <p>BOIRE</p>
    <img class="icon" src={drinksIcon} />
  </a>
  <a href="/">
    <img id="navLogo" src={navLogo} alt="mobile logo" />
  </a>
  <a class="button" href="/Takeout">
    <p>COMMANDER</p>
    <img class="icon" src={takeoutIcon} />
  </a>
  <a class="button" href="/Reservation">
    <p>RÉSERVER</p>
    <img class="icon" src={calendarIcon} />
  </a>
  <script defer>
    const url = window.location.pathname;
    const buttons = document.getElementsByClassName("button");

    for (let button of buttons) {
      if (button.getAttribute("href") === url) {
        button.classList.add("active");
      }
    }
  </script>
</div>

<style>
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-family: "Alatsi", sans-serif;
    max-width: 50px;
    cursor: pointer;
    height: 100%;
  }
  @media screen and (max-width: 374px) {
    p {
      display: none;
    }
  }
  p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
  }
  #navLogo {
    max-width: 80px;
    cursor: pointer;
  }

  .icon {
    max-width: 46px;
  }

  .active {
    border-bottom: 3px solid rgb(50, 50, 50);
  }
</style>
